/** Document structure **/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(to right, rgba(51, 102, 153, 0.2), rgba(51, 102, 153, 1));
}

#container {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    gap: 1%;
}

header,
main,
footer {
    /*border: 1px solid black;*/
    padding: 2%;
}

nav {
    display: none;
}

aside {
    background-color: rgb(255, 255, 153);
    color: rgb(153, 0, 204);
    padding: 1%;
}

aside h2 {
    font: bold 0.8rem;
    text-align: center;
}

aside p,
aside a {
    font-size: 0.7rem;
}

aside a:hover {
    color: rgb(153, 0, 204);
}

header>img {
    display: none;
}

h1 {
    font: bold 1.1rem 'Noto Serif', serif;
    text-align: center;
}

h2 {
    font: bold 0.9rem 'Stoke', serif;
}

h3 {
    font: bold 0.8rem 'Stoke', serif;
}

main p {
    font-size: 0.8rem;
    text-indent: 5%;
}

main img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.box {
    margin: 1%;
    border: 1px solid rgba(204, 204, 204, 0.938);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
    float: left;
    width: 100%;
}

div.box h3 {
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact a {
    color: blue;
}

footer {
    font: 0.7rem 'Work Sans', sans-serif;
}

footer iframe {
    float: right;
    width: 40%;
    height: 40%;
}

footer div::after {
    content: "";
    clear: both;
    display: table;
    margin: 2%;
}


/** Menu button **/

.menu-button {
    position: fixed;
    cursor: pointer;
}

#menu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 0.3s;
}

#menu,
ul {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
}

#menu:hover,
ul:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.menu-items {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(167, 167, 167);
    transition: 0.3s;
}

a.current,
a:hover {
    color: white;
}

a.current {
    background-image: linear-gradient(to right, rgba(51, 102, 153, 0.2), rgba(51, 102, 153, 1));
    cursor: none;
}

.close-menu-button {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 1.5rem;
}


/** Menu bar **/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}


/** Forms **/

label {
    font: 1rem "Times New Roman", Times, serif;
}

input[type=text],
select,
textarea {
    display: inline-block;
    font: 0.9rem Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 1%;
    border-radius: 6px;
    margin: 1%;
}

input[type=submit] {
    float: right;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

.error {
    font: 0.9rem Arial, Helvetica, sans-serif;
    color: red;
}


/** Responsive format **/

@media screen and (min-width: 600px) {
    #container {
        grid-template-columns: 70% 20%;
    }
    header,
    nav,
    footer {
        grid-column: 1 / span 2;
    }
    nav {
        display: block;
    }
    .fixed-menu-bar {
        position: fixed;
        top: 0;
        left: 5%;
        width: 90%;
    }
    header>img {
        display: block;
        margin: auto;
        width: 90%;
        height: auto;
        border-radius: 5%;
    }
    h1 {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 1.1rem;
    }
    aside h2 {
        font-size: 1rem;
    }
    #menu,
    .menu-button {
        display: none;
    }
    .box {
        width: 47%;
        height: 42%;
    }
    footer {
        font-size: 0.9rem;
    }
    .input-label {
        float: left;
        width: 25%;
    }
    .input-field {
        float: left;
        width: 75%;
    }
}

@media screen and (min-width: 992px) {
    header {
        grid-area: header;
    }
    nav {
        grid-area: nav;
        display: flex;
    }
    main {
        grid-area: main;
    }
    aside {
        grid-area: aside;
    }
    footer {
        grid-area: footer;
    }
    #container {
        grid-template-columns: 20% 50% 20%;
        grid-template-areas: 'header header header' 'nav main aside' 'footer footer footer';
    }
    h1 {
        font-size: 1.7rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    #menu,
    .menu-button {
        display: none;
    }
    li {
        float: none;
    }
}