* {
    margin: 10px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(to right, rgba(51, 102, 153, 0.2), rgba(51, 102, 153, 1));
}